.cta {
  padding: 60px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    color: white;
    h3 {
      font-weight: 700;
    }
    h4 {
    }
  }
}

@media (max-width: 767px) {
  .cta {
    padding: 80px 0;
    text-align: center;
    &__container {
      flex-direction: column;
      h4 {
        margin-bottom: 30px;
      }
    }
  }
}
