.features {
  margin-bottom: 0;
  padding: 80px 0;

  &__content {
    text-align: center;

    ul {
      list-style: none;
      li {
        font-size: 1.8rem;
        margin-bottom: 8px;
      }
    }
  }
}
