.features {
  margin-bottom: 0;
  padding: 80px 0;

  &__content {
    text-align: center;
    ul {
      list-style: none;
      padding: 0;
      li {
        font-size: 1.8rem;
        margin-bottom: 8px;
      }
    }
  }
}

@media (max-width: 767px) {
  .features {
    margin-bottom: 0;
    padding: 80px 0;
    ul {
      list-style: none;
      padding: 0;
      li {
        font-size: 1.4rem;
        margin-bottom: 8px;
      }
    }
  }
}
