.form {
  margin-bottom: 80px;
  padding-top: 25px;
  .card {
    border: none;
    box-shadow: 0 8px 16px rgba(#000000, 0.08);
    h5 {
      color: $primary;
    }
    .card-body {
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .card-image {
      border-radius: 4px 0 0 4px;
      width: 100%;
      object-fit: cover;
    }
    .card-form {
      padding: 30px;
    }
    .form-control {
      margin-bottom: 16px;
    }
    .card-checkbox {
      margin-bottom: 12px;

      display: flex;
      align-items: center;

      .form-check {
        &:first-child {
          margin-right: 16px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .form {
    margin-bottom: 40px;
    padding-top: 15px;
    .card {
      border: none;
      box-shadow: 0 8px 16px rgba(#000000, 0.04);
      .card-body {
        padding: 0;
        height: auto;
        display: block;
      }
      .card-form {
        padding: 30px;
      }
      .form-control {
        margin-bottom: 16px;
      }
    }
  }
}
