.services {
  // background-color: orange;
  background-color: rgba($gray-100, 1);
  padding: 80px 0;
  .card {
    border: none;
    background-color: transparent;
    text-align: center;
    position: relative;
    padding-top: 30px;
    margin-bottom: 60px;
    &-header {
      text-align: center;
      background-color: transparent;
      // background-color: rgba(red, 0.2);
      border: none;
      padding: 0;
      position: absolute;
      width: 100%;
      top: 0;
    }
    &-icon {
      // );
      color: white;
      border-radius: 4px;
      height: 64px;
      width: 64px;
      margin: auto;
      font-size: 0.9rem;

      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-body {
      background-color: rgba($gray-200, 1);
      padding: 80px 30px 50px 30px;
      height: 280px;
    }
    &-title {
      font-size: 1.14rem;
      letter-spacing: -0.02rem;
      font-weight: 500;
      margin-bottom: 20px;
      color: $secondary;
      text-transform: uppercase;
    }
    &-text {
      color: $gray-800;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .services {
    .card {
      &-body {
        height: 320px;
      }
    }
  }
}

@media (max-width: 767px) {
  .services {
    padding-bottom: 40px;
    .card {
      &-body {
        height: 300px;
      }
    }
  }
}
