.services {
  // background-color: orange;
  background-color: rgba($gray-100, 1);
  padding: 80px 0;
  .card {
    border: none;
    background-color: transparent;
    text-align: center;
    position: relative;
    padding-top: 30px;
    margin-bottom: 60px;
    &-header {
      text-align: center;
      background-color: transparent;
      // background-color: rgba(red, 0.2);
      border: none;
      padding: 0;
      position: absolute;
      width: 100%;
      top: 0;
    }
    &-icon {
      background: rgb(237, 28, 36);
      background: linear-gradient(
        45deg,
        rgba(237, 28, 36, 1) 0%,
        rgba(245, 130, 32, 1) 100%
      );
      color: white;
      border-radius: 4px;
      height: 60px;
      width: 60px;
      margin: auto;

      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-body {
      background-color: rgba($gray-200, 1);
      padding: 80px 30px 50px 30px;
    }
    &-title {
      font-size: 1.14rem;
      letter-spacing: -0.02rem;
      font-weight: 500;
      margin-bottom: 20px;
      color: $secondary;
      text-transform: uppercase;
    }
    &-text {
      color: $gray-800;
    }
  }
}
