//## Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
$font-family-base: 'Poppins', sans-serif;

$primary: #ed1c24;
$secondary: #f58220;
$dark: #231f20;
