.form {
  margin-bottom: 40px;
  .card {
    border: none;
    box-shadow: 0 8px 16px rgba(#000000, 0.04);
    .card-body {
      padding: 0;
      height: 400px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .card-image {
      background-image: url('https://images.unsplash.com/photo-1617897711385-df9c86b7dfe3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
      background-position: center center;
      background-size: cover;
    }
    .card-form {
      padding: 20px;
    }
    .form-control {
      margin-bottom: 16px;
    }
  }
}
