html,
body {
  // height: 100vh;
  // width: 100vw;
}

body {
  // background: rgb(50, 20, 126);
  // background: linear-gradient(
  //   45deg,
  //   rgba(50, 20, 126, 1) 0%,
  //   rgba(231, 20, 56, 1) 100%
  // );
  background-color: #eee;
}

// main {
//   height: 100vh;
//   width: 100vw;

//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;

//   img {
//     opacity: 0.9;
//   }

//   h3 {
//     color: white;
//     font-size: 1.2rem;
//     font-weight: 200;
//     letter-spacing: 0.6rem;
//     margin-top: 30px;
//     opacity: 0.6;
//     text-transform: uppercase;
//   }
// }

.header {
  width: 100%;
  height: 700px;
  position: absolute;
  top: 0;
  background: rgb(50, 20, 126);
  background: linear-gradient(
    45deg,
    rgba(50, 20, 126, 1) 0%,
    rgba(231, 20, 56, 1) 100%
  );
}
.wrapper {
  width: 100%;
  position: absolute;
  top: 0px;
}
